<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="stagingKeyVaultSecret" value="" />
    <add key="stagingKeyVaultAppId" value="57f299da-15de-4117-b8f6-7c10451926f0" />
    <add key="stagingKeyVaultUrl" value="https://HelixStagingKV.vault.azure.net" />
    
    <add key="prodKeyVaultSecret" value="" />
    <add key="prodKeyVaultAppId" value="fc1eb341-aea4-4a11-8f80-d14b8775b2ba" />
    <add key="prodKeyVaultUrl" value="https://helixprodkv.vault.azure.net/" />
    
    <add key="ClassifierFunctionKey" value="[vault(LogClassifierFunctionKey)]"/>
    <add key="LogAnalysisWriteDbConnectionString" value="[vault(LogAnalysisWriteConnectionString)]"/>
    <add key="LogAnalysisVstsPersonalAccessToken" value="[vault(LogAnalysisVstsPAL)]"/>
    <add key="HelixWriteDbConnectionString" value="[vault(HelixDataWriteConnectionString)]"/>
  </appSettings>
</configuration>